main section.about {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    background-color: #EDEFEE ;
    padding: 40px;
    margin: 0 auto;
    margin-top: 100px;
}

section.about .text-wrapper h2{
    font-size: 20pt;
    font-weight: bold;
}

section.about .text-wrapper h3{
    font-size: 20pt;
    font-weight: bold;
}

section.about .text-wrapper .about-paragraph{
    font-size: 16pt;
    font-weight: 400;
    font-family: 'Karla';
    line-height: 1.5;
}

section.about .image-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

section.about .image-wrapper img{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
}

section.about .image-wrapper .outer{
    margin-top: -40%;
    margin-left: -20%;
}

@media screen and (max-width: 989px) {
    main section.about {
        grid-template-columns: repeat(1,1fr);
        gap: 120px;
        margin-top: 0;
    }

    section.about .text-wrapper{
        text-align: center;
    }
}