/* SPECIALS SECTION */

main section.specials{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDEFEE;
    gap: 10px;
    padding-bottom: 100px;
  }
  
main section.specials .specials-heading{
  display: flex;
  background: #EDEFEE;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 913px;
}
  
main section.specials .specials-heading h3{
  font-size: 64px;
  font-weight: bold;
}
  
main section.specials .specials-heading button{
  width: 224px;
  height: 60px;
  border-radius: 16px;
  background: #F4CE14;
  font-family: 'karla';
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
  
main section.specials .specials-heading button:hover{
  font-size: 24px;
}
  
main section.specials .image-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
  
main section.specials .image-wrapper .image-card{
  display: flex;
  flex-direction: column;
  width: 291px;
  gap: 10px;
}
  
main section.specials .image-wrapper .image-card img{
  width: 100%;
  height: 188px;
}
  
main section.specials .image-wrapper .image-card .image-text-wrapper{
  display: flex;
  flex-direction: column;
}
  
main section.specials .image-wrapper .image-card .image-text-wrapper .header{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #000;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .header span:last-child{
  color: #EE9972;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA{
  display: flex;
  align-items: center;
  gap: 10px;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA i{
  line-height: 0;
}