/* SPECIALS SECTION */

main section.specials{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EDEFEE;
    gap: 10px;
    padding-bottom: 100px;
  }

main section.specials .specials-heading{
  display: flex;
  background: #EDEFEE;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 913px;
}

main section.specials .specials-heading h3{
  font-size: 20pt;
  font-weight: bold;
}

main section.specials .specials-heading button{
  width: 224px;
  height: 60px;
  border-radius: 16px;
  background: #F4CE14;
  font-family: 'karla', sans-serif;
  font-size: 18pt;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

main section.specials .specials-heading button:hover{
  color: #F4CE14;
  background-color: #000;
}

main section.specials .image-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

main section.specials .image-wrapper .image-card{
  display: flex;
  flex-direction: column;
  width: 291px;
  gap: 20px;
}

main section.specials .image-wrapper .image-card img{
  width: 100%;
  height: 188px;
}

main section.specials .image-wrapper .image-card .image-text-wrapper{
  display: flex;
  flex-direction: column;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .header{
  display: flex;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
  margin-bottom: 10px;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .header .header-text{
  font-size: 20pt;
  color: #000;
  font-weight: bold;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .header .price{
  font-size: 16pt;
  color: #EE9972;
  font-weight: normal;
}

main section.specials .image-wrapper .image-card .image-text-wrapper span{
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  line-height: 1.5;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #495E57;
  gap: 10px;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA span{
  font-size: 18pt;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA:hover{
  color: #EE9972;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

main section.specials .image-wrapper .image-card .image-text-wrapper .CTA i{
  line-height: 0;
}

@media (max-width: 960px) {
  main section.specials .specials-heading{
    display: flex;
    flex-direction: column;
    background: #EDEFEE;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 913px;
  }
}